# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env/

# Environment variables
.env

# LIBRERIE
venv/

# MacOS
.DS_Store

# VS Code
.vscode/

# Trading Books & Data
data/books/
*.pdf
storage/memory/trading_system.db
